<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StorageService.Properties.Settings.StorageConnectionString"
            connectionString="COLOQUE AQUI A SUA STRING DE CONEXÃO" />
    </connectionStrings>
</configuration>