<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StorageService.Properties.Settings.StorageConnectionString"
            connectionString="DefaultEndpointsProtocol=https;AccountName=infnetstorage;AccountKey=WiMikZ6bfRPLM6zlBxZTpk632ay+Fs6BwY5WvE/O0RJZEU6tw9S+mXQUOvO6eK+O8935gkoymFa2EXjow43ZLg==;EndpointSuffix=core.windows.net" />
    </connectionStrings>
</configuration>